/*Propiedades de la pag en general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Propiedades de la vista de letras de html*/
html{
    font-size: 10px;
    font-family: monospace;
}


/* Lorem ipsum online (texto)*/