/*Propiedades de la pag*/
.cont{
    margin: auto;
    width: 37.5rem;
    height: auto;
}

/*Cuadro grande (img)*/
.imgrande{
    background-color:rgb(196, 196, 196);
    width: 100%;
    height: 27rem;
    margin: auto;
}

/*********************************/
/*Seccion de los circulos*/
.circulos{
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
    padding: 0 0 0 15rem;
}

/*Primer circulo*/
.cirlone{
    width: 1rem;
    height: 1rem;
    background-color: rgb(128, 128, 128);
    border-radius: 50rem;
    margin: 1rem 0 0 1rem;
    display:flex;
    flex-direction: column;
}

/*Segundo circulo*/
.cirltwo{
    width: 1rem;
    height: 1rem;
    background-color:rgb(196, 196, 196);
    border-radius: 50rem;
    margin: 1rem 0 0 1rem;
    display:flex;
    flex-direction: column;
}

/*Tercer circulo*/
.cirlthree{
    width: 1rem;
    height: 1rem;
    background-color:rgb(196, 196, 196);
    border-radius: 50rem;
    margin: 1rem 0 0 1rem;
    display:flex;
    flex-direction: column;
}

/*****************************************/
/*Sección del resto de pag*/
.DOS{
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:column;
    padding: 2rem;
}

/*Titulo texto*/
.titulo{
    color: rgb(36, 35, 35);
    font-size: 22px;
    margin: 0 0 1rem 0;
}

/*Texto by*/
.byy{
    color:rgb(177, 170, 170);
    font-size: 15px;
    display:flex;
    flex-direction: column
}

/**************************************************/
/*Seccion de botones*/
.botoness{
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:row;
    padding: 2rem 0 0 1rem;
}

/*Boton de like*/
.like{
    width: 8rem;
    height: 4rem;
    text-align: center;
    background-color: white; 
    border:1px solid #9c9999;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    color:black;
    font-size: 18px;
    
}
/*Propiedad que sirve para que al momento de darle click al boton cambie de color*/
.like:hover{
    transition-duration: 0.10s;
    background-color: rgb(125, 125, 173);
}

/*Img dentro del boton*/
.first{
    width: 2rem;
    height: 2rem;
}

/*Boton del comentario*/
.Commentt{
    width: 13rem;
    height: 4rem;
    text-align: center;
    background-color: white; 
    border:1px solid #9c9999;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    color:black;
    margin: 0 0 0 2rem;
    font-size: 18px;
}
/*Propiedad que sirve para que al momento de darle click al boton cambie de color*/
.Commentt:hover{
    background-color: rgb(125, 125, 173);
    transition-duration: 0.10s;
}
/*Img dentro del boton*/
.second{
    width: 2rem;
    height: 2rem;
}

/*********************************************************/
/*Primer parrafo*/
.p1{
    color: rgb(36, 35, 35);
    font-size: 14px;
    margin: 2rem 0 1rem 0;
}

/*Segundo parrafo*/
.p2{
    color: rgb(36, 35, 35);
    font-size: 14px;
    margin: 0rem 0 1rem 0;
}

/*Tercer parrafo*/
.p3{
    color: rgb(36, 35, 35);
    font-size: 14px;
    margin: 0rem 0 4rem 0;
}

/*Titulo*/
.p4{
    color: rgb(20, 20, 126);
    font-size: 17px;
    margin: 0rem 0 0.2rem 0;
}

/*quintp parrafo*/
.p5{
    color: rgb(36, 35, 35);
    font-size: 14px;
    margin: 0rem 0 0.2rem 0;
}

/*sexto parrafo*/
.p6{
    color: rgb(36, 35, 35);
    font-size: 14px;
}

.p6_1{
    width: 100%;
    height: 25rem;
    margin: 0rem 0 2rem 0;
}

/******************************************************/
/*Seccion del Pie*/
.pie{
    width: 100%;
    height: 5.5rem;
    background-color: beige;
    position:fixed;
    z-index: 2000;
    bottom: 0;
}

/*Padre del contenido*/
.padrecont{
    width: 6rem;
    height: 5rem;
    margin: 0rem 0rem 0rem 13rem;
    display:flex;/*Alineación de bloques hijos*/
    flex-direction:column;
    position:fixed;
}

/*etiqueta a*/
.link{
    text-decoration: none;
    }

/*Primer icono*/
.icon1{
    width: 3rem;
    height: 3rem;
    margin: 0.5rem 0rem 0rem 1.5rem;
    display:flex;
    flex-direction: column
}

/*Texto de abajo*/
.return{
    width: 6rem;
    height: 2rem;
    margin: 0rem 0rem 0rem 0rem;
    color: black;
    display:flex;
    flex-direction: column
}